<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>uploadBitcode</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
	<key>teamID</key>
	<string>UV65SQ2UDM</string>
	<key>stripSwiftSymbols</key>
	<false/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Development: Deon De Villiers</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.dotsquare.enter</key>
		<string>technicianDevProvProfile</string>
	</dict>
</dict>
</plist>
